  .tabs-component [role="tablist"] {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #254870;
    position: relative;
  }

  .tabs-component [role="tablist"] button {
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #012d5e;
    transition: border 0.2s ease-in-out 0s;
    border-color: #254870 #254870 #012d5e;
    margin-left: 10px;
  }

  .tabs-component [role="tablist"] button.active,
  .tabs-component [role="tablist"] button:focus,
  .tabs-component [role="tablist"] button:hover {
    border-width: 2px;
    border-color: #254870 #254870 #254870;
  }

  .tabs-component [role="tablist"] button.active {
    color:  #ffc107;
    background-color: #012d5e;
    margin-left: 10px;
    border-bottom-color: #012d5e;
  }

  .tabs-component [role="tablist"] button.add {
    color:  #fff;
    background-color: #012d5e;
    margin-left: 10px;
    margin-top: 10px;
    height: 80px;
    padding-bottom: 20px;
    border-bottom-color: #254870;
    text-align: center; line-height: 65px;
    font-size : 40px;
  }

  .tabs-component [role="tabpanel"] {
    text-align: left;
    background-color: #012d5e;
  }

  .tabs-component.vertical {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .tabs-component.vertical [role="tablist"] {
    flex-direction: column;
  }

  .tabs-component.vertical [role="tabpanel"] {
    flex: 1;
  }

  .tabs-component [role="tablist"] button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 10;
    height: 100px;
  }

  .tabs-component.vertical [role="tablist"] button.active,
  .tabs-component.vertical [role="tablist"] button:focus,
  .tabs-component.vertical [role="tablist"] button:hover {
    border-color: #e9ecef transparent #e9ecef #b41c1c;
  }
